body {
    height: 100% !important;
}

.recording-status {
    /* padding: 6px; */
    text-align: center;
    font-family: monospace;
    font-size: 11pt;
    background-color: #333;
    color: #4f4;
    border-style: inset;
    border: 2px inset;
}

.blink {
    color: #333;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    margin: auto;
    z-index: 2000;
    left: 40%;
    top: 40%;
}